.form-group .form-control-label {
	
font-weight:600

}

.main-sidebar .menu i.fa-circle {

font-size: 6px !important;

}


.main-dashboard i {


    font-size: 30px;
    opacity: 0.7;
    color: #222b58e6;

}